Source: python-colorlog
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders: Philipp Huebner <debalance@debian.org>
Section: python
Priority: optional
Build-Depends: debhelper,
               debhelper-compat (= 13),
               dh-python,
               python3-all,
               python3-setuptools
Standards-Version: 4.6.1
Rules-Requires-Root: no
Vcs-Browser: https://salsa.debian.org/python-team/packages/python-colorlog
Vcs-Git: https://salsa.debian.org/python-team/packages/python-colorlog.git
Homepage: https://github.com/borntyping/python-colorlog
Testsuite: autopkgtest-pkg-python

Package: python3-colorlog
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends}
Description: formatter to use with the logging module of Python 3
 python-colorlog allows colors to be placed in the format string, which is
 mostly useful when paired with a StreamHandler that is outputting to a
 terminal. This is accomplished by adding a set of terminal color codes to the
 record before it is used to format the string.
 .
 This is the Python 3 version.
